@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background-color: #1947E5;
}

header {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background-color: #18191F;
    padding: 20px 10px;
}

header p {
    font-size: 20px;
    font-family: 'Montserrat';
    color: #fff;
}

.title-web h1 {
    font-family: 'Montserrat';
    font-size: 58px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

.content-text #h {
    font-family: 'Montserrat';
    font-size: 58px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 20px;
}

.content-text #p {
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.content-lisensi p {
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 30px;
}

.content-logo img {
    height: 30px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.download {
	background-color:#18191f;
	border-radius: 15px;
	border: 2px solid #18191f;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	padding: 15px 25px;
    text-decoration: none;
    margin-right: 20px;
}

.download:hover {
    background-color: #3d3f4b;
    border: 2px solid #3d3f4b;
}

.download:active {
	position:relative;
	top:1px;
}

.buy {
	background-color: #1947E5;
	border-radius: 15px;
	border: 2px solid #d1dafa;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: bold;
	padding: 15px 25px;
    text-decoration: none;
    margin-right: 20px;
}

.buy:hover {
	background-color: #d1dafa;
}

.download:active {
	position:relative;
	top:1px;
}

#dash {
    border-bottom: 2px dotted;
}

span {
    font-weight: bold;
}

section {
    width: auto;
    height: 940px;
    font-family: 'Montserrat';
    background-color: #1947E5;
    color: #fff;
    padding-right: 120px;
    padding-left: 120px;
}

#section-img {
    width: 500px;
    margin-top: 140px;
}

footer {
    font-family: 'Montserrat';
    padding-right: 150px;
    padding-left: 150px;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #18191f;
    color: #fff;
    padding-right: 180px 30px;
}

.container {
    background-color: transparent;
}

.disclaimer {
    padding-top: 60px;
    line-height: 1.5;
    margin-bottom: 80px;
}

h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 12px;
}

.disclaimer p {
    color: #bababc;
    font-size: 18px;
}

.item-product img {
    height: 40px;
    margin-top: 40px;
    margin-right: 70px;
    margin-bottom: 40px;
}

hr {
    height: 1px;
    border-color: #bababc;
}

.credit {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}

.web-credit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 32px;
}

.web-credit h3 {
    font-size: 14px;
    font-weight: 500;
    color: #bababc;
}

.web-credit #a {
    color: #fff;
    font-weight: 400;
}

.special-credit p {
    font-size: 14px;
    font-weight: 500;
    color: #bababc;
    padding-bottom: 40px;
}

.social-media {
    justify-content: center;
    list-style-type: none;
    margin-left: 30px;
}

.social-media li {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
}

.social-media li a {
    text-decoration: none;
}

.social-media li a #dashed:hover {
    color: #bababc;
}

#dashed {
    color: #fff;
    border-bottom: 1px dotted;
    font-weight: 600;
    font-size: 14px;
}

#dashed:hover {
    color: #bababc;
}